SPREADSHEET_ID=구글시트_ID
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}

SHEET_NAME=루비 시세 DB
TIMEZONE=Asia/Seoul

ITEMMANIA_URL=https://www.itemmania.com/sell/list.html?search_game=4817

# 카카오톡 txt 파일 경로
OPENTALK_TXT_PATH=./data/opentalk.txt
